{% extends 'base.html' %}

{% block title %}Zarządzanie Voucherami{% endblock %}

{% block content %}
<h1>Zarządzanie Voucherami</h1>

{% if user.is_authenticated %}
    <div class="home-buttons">
        {% if is_manager %}
            <a href="{% url 'create_voucher' %}" class="button">Utwórz Voucher</a>
        {% endif %}
        <a href="{% url 'show_voucher' %}" class="button">Wyszukaj Voucher</a>
        <a href="{% url 'recently_redeemed_vouchers' %}" class="button">Ostatnio Zrealizowane</a>
    </div>
{% else %}
    <p>Zaloguj się, aby uzyskać dostęp do funkcji zarządzania voucherami.</p>
{% endif %}
{% endblock %}
