{% extends 'base.html' %}

{% block title %}Zarządzanie voucherami{% endblock %}

{% block content %}
<h1>Zarządzanie voucherami</h1>

{% if user.is_authenticated %}
    <div class="home-buttons">
        <a href="{% url 'show_voucher' %}" class="button">Wyszukaj voucher</a>
        <a href="{% url 'recently_redeemed_vouchers' %}" class="button">
            {% if is_shop %}
                Moje zrealizowane vouchery
            {% else %}
                Ostatnio zrealizowane
            {% endif %}
        </a>
        {% if is_manager %}
            <a href="{% url 'create_voucher' %}" class="button">Utwórz voucher</a>
            <a href="{% url 'voucher_list' %}" class="button">Lista voucherów</a>
        {% endif %}
    </div>
{% else %}
    <p>Zaloguj się, aby uzyskać dostęp do funkcji zarządzania voucherami.</p>
{% endif %}
{% endblock %}
