{% extends 'base.html' %}

{% block title %}Recently Redeemed Vouchers{% endblock %}

{% block content %}
<h1>Recently Redeemed Vouchers</h1>

<ul class="voucher-list">
    {% for voucher in redeemed_vouchers %}
        <li class="voucher-item">
            <div class="voucher-details">
                <span><strong>Code:</strong> {{ voucher.code }}</span>
                <span><strong>Amount:</strong> {{ voucher.amount }} PLN</span>
            </div>
            <div class="date">{{ voucher.redeemed_at|date:"Y-m-d H:i" }}</div>
        </li>
    {% empty %}
        <li>No recently redeemed vouchers found.</li>
    {% endfor %}
</ul>
{% endblock %}
