{% extends 'base.html' %}

{% block title %}Voucher Redeemed{% endblock %}

{% block content %}
<h1>Voucher Redeemed</h1>

<p>The following voucher has been successfully redeemed:</p>
<ul>
    <li><strong>Voucher Code:</strong> {{ voucher.code }}</li>
    <li><strong>Amount:</strong> {{ voucher.amount }} PLN</li>
    {% if voucher.product %}
        <li><strong>Product:</strong> {{ voucher.product }}</li>
    {% endif %}
    <li><strong>Redeemed At:</strong> {{ voucher.redeemed_at|date:"Y-m-d H:i" }}</li>
</ul>

<a href="{% url 'home' %}" class="button">Return to Home</a>
{% endblock %}
