{% extends 'base.html' %}

{% block title %}Szczegóły Vouchera{% endblock %}

{% block content %}
<h1>Szczegóły Vouchera</h1>

<ul class="voucher-details">
    <li><strong>Kod Vouchera:</strong> {{ voucher.code }}</li>
    <li><strong>Kwota:</strong> {{ voucher.amount }} PLN</li>
    {% if voucher.product %}
        <li><strong>Produkt:</strong> {{ voucher.product }}</li>
            {% if voucher.redeemed_by %}
            <p>Zrealizowany przez: {{ voucher.redeemed_by.username }}</p>
            {% endif %}
    {% endif %}
    <li><strong>Utworzono:</strong> {{ voucher.created_at|date:"Y-m-d H:i" }}</li>
</ul>

<!-- Przyciski akcji -->
<div class="button-group">
    <a href="{% url 'show_voucher' %}" class="button">Powrót do wyszukiwania</a>
    <a href="{% url 'redeem_voucher' code=voucher.code %}" class="button" style="background-color: #E74C3C; color: white;">Zrealizuj voucher</a>
</div>
{% endblock %}
